PROJECT_NAME=myprojectname
DB_HOST=mydbhost
DB_USER=mydbuser
DB_PASSWORD=mydbpassword
DB_PORT=mydbport
DB_NAME_DEV=mydbdevname
DB_NAME_TEST=mydbtestname
DB_NAME_PROD=mydbprodname
SERVER_IP=myserverip
SERVER_PORT=myserverport
DEFAULT_EMAIL_ALIAS=myserveremailalias
SENDGRID_KEY=mysendgridkey
DB_LOG=mydblog
JWT_SECRET=myjwtsecret
MASTER_KEY=mymasterkey